body { 
  font-family: Arial, Helvetica, sans-serif; 
} 
a {
  text-transform: uppercase; text-decoration: none; color: #584545; font-weight: bold;
} 
li {
  list-style-type: none; text-align: center; padding: 10px;
} 
.hidden {
  display: none; 
} 

header {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 60em) { 
  .hidden {
    display: block; 
  } 
  #burger {
    display: none; 
  } 
  nav ul {
    display: flex;
  } 
}